@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

body{
    padding: 0;
    margin: 0;
}

.pokedex{
    position: absolute;
    width:1000px;
    height: 715px;
    background-image: url(Imgs/pinpng.com-pokedex-png-6639628.png);
    background-size: contain;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.pokedex .pokemon-img{
    position: absolute;
    width: 9vw;
    left:17%;
    top:30%;
}

.pokedex .pokemon-data{
    position:absolute;
    top:50%;
    left:18%;
    font-family: 'Oxanium', cursive;
    font-size: 1.5vw;

}

.pokedex .form{
    position: absolute;
    width:25%;
    top:71%;
    left: 60%;
    border-radius: 10px;
    box-shadow: -3px 5px 0px grey;
}

.pokemon_search{
    width: 100%;
    height: 55px;
    border-radius: 10px;
    font-family: 'Oxanium', cursive;
    font-size: 1vw;
}

.buttons{
    position: absolute;
    top: 83%;
    left:60%;
    background-color: rgba(0, 0, 0, 0);
}

.button{
    font-family: 'Oxanium', cursive;
    font-size: 1.2vw;
    margin: 0.5vw;
    width:7.8vw;
    height: 2.5vw;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(71, 70, 70);
    box-shadow: -3px 5px 0px rgb(31, 31, 31);
}

.button:active{
    box-shadow: 3px -5px 0px rgb(31, 31, 31);
    font-size: 1.1vw;
}


.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #FDDFDF;
}

.grass {
	background-color: #7bfb83;
}

.electric {
	background-color: #FCF7DE;
}

.water, .ice {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #d98fde;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.normal {
	background-color: #F5F5F5;
}